<style>


  #left {
      width: 15%;
      height: 100%;
      float: left;
      background: #FFD700;
  }

  #right {
      width: 85%;
      height: 100%;
      float: left;
      background: #FFA500;
  }


</style>

  <div style="100%">
    <div id="left">하하</div>
    <div id="right">fsfeerewqrewq
      </div>
  <div>   