<!DOCTYPE html>
<html>
<head>
  <title>Trace</title>
 <%= stylesheet_link_tag    'application', media: 'all' %>      <!-- #, 'data-turbolinks-track' => true -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>
  
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js"></script>-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
</head>
<body>

<%= yield %>


</body>
</html>
